<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Regression">
        <classes>
            <class name="org.APIFramework.tests.individual.TestPOSTAPI"/>
            <class name="org.APIFramework.tests.individual.TestGETAPI"/>
            <class name="org.APIFramework.tests.individual.TestPUTAPI"/>
        </classes>
    </test>
</suite>